/* ===== Customize Styles ===== */

/* global */
:root {
    --main-color: #0085FF;
    --secondary-color:#ff4d40;
    --link-color-hover: #0085FF;
    --text-black: #333;
    --text-dark: #04417a;
    --bg-color-light: #f3f5ff;
    --shadow: rgba(119, 119, 119, 0.25);
  }